TELEGRAM_BOT_TOKEN=7712058163:AAGzxCUHGQBffoHuy5AE15pvS439X7z6K5c
MONGODB_URI=
MONGODB_DB_NAME=solana-volume-bot # Database name where the users will be stored
MONGODB_COLLECTION_NAME=users # Collection name where the users will be stored

####### ================ SETTING FOR VOLUME BOT ================== ########
PRIVATE_KEY= 
RPC_ENDPOINT= 
RPC_WEBSOCKET_ENDPOINT=
# RPC_ENDPOINT= 
# RPC_WEBSOCKET_ENDPOINT= 


####### BUY SETTING #######
IS_RANDOM=true
DISTRIBUTION_AMOUNT=0.01
BUY_AMOUNT=0.01
BUY_UPPER_AMOUNT=0.002
BUY_LOWER_AMOUNT=0.001

BUY_INTERVAL_MAX=2000
BUY_INTERVAL_MIN=4000

CHECK_BAL_INTERVAL=3000
DISTRIBUTE_WALLET_NUM=3

SWAP_ROUTING= true

###### FOR MASSIVE BUY #####
WALLET_NUM=3

##########  FOR SELL MODE  ##########
SELL_ALL_BY_TIMES=20        # how many time it will take to sell all tokens in subwallets through small buy and sell
SELL_PERCENT=100            # how many percent of token in main wallet will be sold gradually

#### TOKEN PAIR SETTING ####
TOKEN_MINT=27dXPBPyLD45w9zJ55fkEAEmvNRQ6rCFebvFciQxpump

POOL_ID=DWdg2B4nbT4ZFSfSbMbFks25DgkwJfZBuMtPhSKUWKLV

TX_FEE=10            
ADDITIONAL_FEE=0.006   # should be larger than 0.006SOL

###### GENERAL SETTING ######
LOG_LEVEL=info